*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(202, 202, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: white;
    width:600px;
    height:500px;
    border-radius: 10px;
}
.first{
    display: grid;
    grid-template-rows: repeat(3,50px);
    margin-left: 50px; 
    margin-top: 50px;
}
h2{
    color:aquamarine;
    
   
}
.green{
    color: rgb(202, 252, 162);
    
}
.text{
    color:grey;
}
.bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 80px;
}
.second{

    background-color: rgb(98, 254, 184);
    width:300px;
    height: 220px;
    
}
.third{
    background-color: rgb(145, 249, 202);
    width:300px;
    height: 220px;
    /* margin-right: 70px; */
}
h1{
    margin-left: 50px;
    margin-top: 10px;
}
h3{
    margin-left: 50px;
    margin-top: 30px;
}
.scnd{
    margin-left: 50px;
    margin-top: 30px;
}
button{
    margin-left: 50px;
    width:200px;
    height: 35px;
    background-color: rgb(170, 211, 46);
    margin-top: 20px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.last{
    margin-left: 50px;
    margin-top: 20px;
}
.dol{
    margin-left: 50px;
    margin-top: 20px;
}